@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;800&display=swap');

* {
    font-family: 'Inter', sans-serif;
}

body {
    margin: 0;
    width: 100%;
    background-image: url(imgs/fundo.png);
}

header {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
}

h2.logo span {
    color: #FFB800;
    font-size: 2rem;
}

header nav a {
    text-decoration: none;
    color: black;
    margin: 0.5rem;
    padding: 0.6rem;
}

header nav a:hover {
    color: #FFB800;

}

.call_to_action_nav {
    background: #FFB800;
    border-radius: 20px;
    padding: 0.9rem;
    width: 150px;
    font-weight: bold;
    font-size: 16px;
}

.call_to_action_nav:hover {
    color: white;
    background: black;
}

main.fundo {
    
    z-index: -1000;
}

main {
    max-width: 800px;
    min-width: 280px;
    margin: auto;
    padding-top: 1rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}


.ilustracao{
    width: 20rem;
}

.copy {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

@media(max-width: 600px){
    header nav {
        display: none;
    }

    main {
        flex-wrap: wrap;
    }

    .copy {
        font-size: 0.9rem;
        width: 100%;
        margin: 0.7rem;
    }

}