@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;800&display=swap');

* {
    font-family: 'Inter', sans-serif;
}

body {
    margin: 0;
    width: 100%;
    background-image: url(imgs/wave.png);
    background-repeat: no-repeat;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
}

h2.logo span {
    color: #50ABBF;
    font-size: 2rem;
}

header nav a {
    text-decoration: none;
    color: black;
    margin: 0.5rem;
    padding: 0.6rem;
}

header nav a:hover {
    color: #FFB800;

}

.call_to_action_nav, .call_to_action_main {
    background: #50ABBF;
    color: white;
    border-radius: 20px;
    padding: 0.9rem;
    width: 150px;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
}

.call_to_action_main {
    width: 300px;
}

.call_to_action_nav:hover, .call_to_action_main:hover {
    color: white;
    background: #50C3BB;
}

main {
    max-width: 800px;
    min-width: 280px;
    margin: auto;
    padding-top: 0.6rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
 main div {
    margin: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
 }

 

.ilustracao{
    width: 20rem;
}

.copy {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

@media(max-width: 600px){
    body {
        background-image: none;
    }
    .logo {
        font-size: 1rem;
    }
    h2.logo span {
        font-size: 1.5rem;
    }
    
    header nav {
        display: none;
    }

    main {
        background-image: url(imgs/wave.png);
        background-repeat: no-repeat;
    }

    main, main div {
        flex-wrap: wrap;
    }

    .copy {
        font-size: 0.8rem;
        width: 100%;
        margin: 0.4rem;
    }

}